<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="front_wheel" params="">

    <link name="front_connector_link">
		<visual>
		    <origin xyz="0 0 0" rpy="0 0 1.57"/>
			<geometry>
				<cylinder radius="0.01" length="0.01"/>
			</geometry>	
		</visual>
        <inertial>
        <inertia ixx="2.61666666667e-05" ixy="0.0" ixz="0.0" iyy="2.61666666667e-05" iyz="0.0" izz="3.6e-05"/>
        <mass value="0.0001"/>
        </inertial>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.001" length="0.001"/>
            </geometry>
        </collision>	
	</link>

    	<joint name="front_connector_joint" type="fixed">
	    <origin xyz="0.32 0 0" rpy="0 0 0"/>
	    <parent link="chassis"/>
	    <child link="front_connector_link"/>
	</joint>

    
    <wheel
		wheel_name="front_wheel"
		wheel_conector_name="front_connector_link"
		tY="0" aX="0" aY="1"/>


  </xacro:macro>

</robot>
